
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Sports Guy</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>⚽</text></svg>">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
</head>
<body class="bg-white-50 min-h-screen">

    <nav class="bg-blue-100 shadow-md px-8 py-4">
        <div class="max-w-5xl mx-auto flex items-center justify-between">
            <div class="flex items-center gap-6">
                <a href="/" class="text-2xl font-bold text-gray-800 hover:text-gray-700 font-2xl transition-colors">THESPORTSGUY</a>
                <a href="/f1" class="text-gray-600 hover:text-gray-900 font-medium transition-colors">Formula 1</a>
            </div>
            
        </div>
    </nav>

    <div class="max-w-7xl mx-auto px-4 py-4">
        Error: {{ error_code }}
        Please Try Again
    </div>

</body>
</html>
