
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Sports Guy</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="static/main.css" rel="stylesheet">
</head>
<body class="bg-white-50 min-h-screen">

    <nav class="bg-blue-100 shadow-md px-8 py-4">
        <div class="max-w-5xl mx-auto flex items-center justify-between">
            <div class="flex items-center gap-6">
                <h1 class="text-2xl font-bold text-gray-800">THESPORTSGUY</h1>
                <a href="/f1" class="text-gray-600 hover:text-gray-900 font-medium transition-colors">Formula 1</a>
            </div>
            
        </div>
    </nav>

    <div class="max-w-7xl mx-auto px-4 py-4">
        <div class="flex"><h1 class="text-3xl font-extrabold mr-5">Formula 1</h1>
            </div>
        <div class="flex gap-4 mt-8">
            <div class="w-4/5 bg-blue-100 rounded-lg shadow p-6">
                <h2 class="text-lg text-gray-600">Recent News</h2>
                <br>
                <div class="flex">
                    <div class="flex-1 min-w-0">
                        <h2 class="text-base font-semibold text-gray-700 mb-2 text-left">Recent Races</h2>
                        <div class="w-11/12 bg-blue-200 rounded-lg shadow p-6">hello</div>
                    </div>
                    <div class="flex-1 min-w-0">
                        <h2 class="text-base font-semibold text-gray-700 mb-2 text-right">Upcoming Races</h2>
                        <div class="w-11/12 bg-blue-200 rounded-lg shadow p-6 ml-auto">hello</div>
                    </div>
            
                </div>
                
            </div>

            <div class="w-1/5 bg-blue-100 rounded-lg shadow p-6" style="width: 40%">
                <h2 class="text-lg text-gray-600">Driver Standings</h2>
                <br>
                <h2 class="text-lg text-gray-600">Constructor Standings</h2>
            </div>
        </div>
    </div>

</body>
</html>
