
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Sports Guy</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>⚽</text></svg>">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
</head>
<body class="bg-white-50 min-h-screen">

    <nav class="bg-blue-100 shadow-md px-8 py-4">
        <div class="max-w-5xl mx-auto flex items-center justify-between">
            <div class="flex items-center gap-6">
                <a href="/" class="text-2xl font-bold text-gray-800 hover:text-gray-700 font-2xl transition-colors">THESPORTSGUY</a>
                <a href="/f1" class="text-gray-600 hover:text-gray-900 font-medium transition-colors">Formula 1</a>
            </div>
            
        </div>
    </nav>

    <div class="max-w-7xl mx-auto px-4 py-4">
        <h1 class="text-3xl font-extrabold mr-5 pb-2">How to use THESPORTSGUY</h1>
            <div class="bg-blue-100 rounded-lg shadow p-6">
                Welcome to THESPORTSGUY, a website giving you in-depth information on your favorite sports!
                <br>
                <br>
                You are able to access different sports through the navbar at the <b>top of the page</b> where clicking on the <b>name of the sport</b> will take you to the appropriate page. 
                <br>
                Clicking on the name of the website itself will return you to this page.
                <br>
                Once on individual pages, individual events such as races or games can be viewed in depth by clicking anywhere within its box
                <br>
                <br>
                <div class="w-5/12 bg-blue-200 rounded-lg shadow p-6">Which look like this.</div>
                <br>
                For sports with various ladders such as F1 which has both a drivers and constructors (team) championship, the ladders can be switched by hovering the name of the ladder and selecting the desired option. 
                <br>
                The tables within each specific event overview can be manipulated to reveal more information by clicking the row where an arrow icon appears which looks like this <span class="inline-block w-3 text-gray-400 toggle-arrow">&#9656;</span>
                <br>
                <br>
                If you are placed on an error page, feel free to exit by clicking the navigators in the navbar and continuing on the website.
            </div>
        </div>
    </div>

</body>
</html>
